@import 'module/fonts';
@import 'module/default-style';


body{
  background: url(../image/mainbg.png)center -50px no-repeat;
   background-size: cover;
   z-index: -10;
}
.container{
    // border:solid black 5px;
    width: 100vw;
    
    padding-right: 20vmin;
    padding-left: 20vmin;
    // background: url(../image/iconsbg.png) 50% 50% no-repeat;
    position: relative;
    background-size:auto;
    // background-position: center -50px;
    // background-repeat: no-repeat;
   
@import 'module/header';
@import 'module/header-bottom';
@import 'module/add';
@import 'module/bubble';
@import 'module/reachchart';
@import 'module/share';

}

 


@media (max-width:426px){
   .container{
padding-right: 10vmin;
    padding-left: 10vmin;
   }
}


@media (max-width:700px){

}
@media (max-width:1025px){
.container{
    
    padding-right: 10vmin;
    padding-left: 10vmin;
}
}
@media (min-width:1700px){

}
